$panel-color: #F8F8F8;
$text-color: black;
$btn-color: black;
$btn-border-width: 4px;

@media(max-width: 768px) {
	.navbar-top{
		display:none;
	}

}

@media(max-width: 992px) {

	.panel-default{
		display:none;
	}
	.summary-panel{
		margin-top:10px;
	}


}


body{
	background-color: #c0c0c0;
	box-sizing: border-box;
}

.navbar {
	border-width:0px;
    margin-bottom: 0px;
}
.glyphcon{
	margin-top:20px;
}


.options-panel{
	margin-top:7%;
	background-color: $panel-color;
	float:right;
	border-radius: 3px;
	width:100%;

	select{
		width: 150px;
		margin:5px;
		margin-left:20px;
		margin-bottom:7px;
		float:left;
		color: $text-color;
	}
	option{
		color: black;
	}
	label{
		margin-left:20px;
		margin-top: 5px;
		height:20px;
		display: block;
		color: $text-color;
	}
	.first-label{
		margin-top:10px;
	}
	.last-form{
		margin-bottom:20px;
	}
	.btn{
		float:left;
	    padding: 2px 8px;
		background-color: $btn-color;
		border-radius:100%;
		color: white;
		border-color: #c0c0c0;
		border-width:$btn-border-width;
		margin-top:3px;

	}
	.clear{
		clear:both;
	}

}



.summary-panel{
	background-color:$panel-color;
	float:left;
	width:100%;
	height:100%;
	border-radius:2%;
	.navbar{
		background-color:#e0dede;
	}
	.btn{
		background-color:black;
		color:white;
		border-width:$btn-border-width;
		border-color:$panel-color;
		border-radius:100%;
	}
	.btn-list{
		margin:7px;

	}
	.activities{
		margin:20px;
	}
	label{
		color: $text-color;
	}

}

.activities{
	li{
		color:$text-color;
	}
}

.panel-body {
  padding: 0px;
  background-color: #E0DEDE;

}
.panel-default {
  border-color: white;
  border-width: 4px;
  width:50%;
  text-align:center;
  margin-top:20px;
  margin-bottom:10px;
  margin-left: auto;
  margin-right: auto;
  margin-radius:2%;
}
.summary-header{
	color: $text-color;
}

#map-canvas{
	height:90vh;

}
//CLEARFIX HACK
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */